@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario{
    margin-top: 5rem;
    .campo{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        label{
            flex: 0 0 10rem;
        }

        input{
            flex: 1rem;
            font-size: 1.8rem;
            padding: 1rem;
            border: none;
            background-color: lighten(v.$gris, 40%);
        }
    }
}