@use '../base/mixins' as m;
@use '../base/variables' as v;

.contenedor-agregar-tarea{
    display: flex;
    justify-content: center;
    .agregar-tarea{
        @include m.boton (v.$cyan,v.$blanco);
    }
}

.listado-tarea{
    list-style: none;
    padding: 0;
    margin-top: 3rem;

    .no-tareas{
        text-align: center;
    }

    .tarea{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 2rem;
        border-bottom: 2px solid darken(v.$gris, 5%);
        margin-bottom: 1rem;

        &:last-of-type{
            border-bottom: none;
        }

        p{
            font-size: 1.8rem;
        }

        .opciones{
            display: flex;
            gap: 1rem;

            button{
                padding: .5rem 1rem;
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: bold;
                border: none;
                border-radius: 1rem;
            }

            :hover{
                cursor: pointer;
                
            }

            .completado{
                background-color: v.$azul;
                color: v.$blanco;
            }

            .pendiente{
                background-color: v.$naranja;
                color: v.$blanco;
            }

            .eliminar-tarea{
                background-color: v.$rojo;
                color: v.$blanco;
            }
        }
    }
}